CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

build/
.cache/
.idea/
cmake-build-debug/
map/data/one/code
map/data/two/code
.gitignore
map/data/three/code
map/data/one/callgrind.out.2026877
map/data/one/callgrind.out.2033217
map/data/one/callgrind.out.2035462
map/data/one/callgrind.out.2037448
map/corner_data/3
